<div class="container d-flex">

  <div class="col-2">
    <h3>Group:</h3>
  </div>

  <div class="col-8">
    <h2><%= @group.name %></h2>
    <p><%= @group.description %></p>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="group-form">
      <%= render "posts/new", group: @group, post: @post %>
    </div>

  <% @posts.each do |post| %>
    <div class="card my-3" >
      <div class="card-body">
        <h5 class="card-title">user_name(to do)</h5>
        <p class="card-text"><%= post.content %></p>
        <% post.comments.each do |comment| %>
          <div class="card my-3" >
            <div class="card-body">
              <h5 class="card-title">user_name(to do)</h5>
              <p class="card-text"><%= comment.content %></p>
            </div>
          </div>
        <% end %>
        <div class="group-form">
         <%= render "comments/new" , comment: @comment%>
        </div>
      </div>
        <%= link_to 'Delete Post', post_path(post), method: :delete, class: "btn"%>
    </div>
  <% end %>

  <%= link_to 'Back', groups_path, class: "btn"%>

</div>
