<div class="container">
  <div class="rounded bg-primary p-4 mt-3">
    <h2><%= @group.name %></h2>
    <p><%= @group.description %></p>

    <p class="post-count"><%= @group.posts.count > 0 ? pluralize(@group.posts.count, 'posts') : "No Posts yet" %></p>

    <div class = "d-flex" >

      <div>
        <%= form_tag group_path(@group.id), method: :get do |search|%>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search in the group"
        %>
      </div>
        <%= submit_tag "Search", class: "btn btn-primary "%>
      <div>
        <% end %>
      </div>

    </div>
    <div>
       <%= link_to "Clear search",group_path(@group.id), style: "color: gray"%>
      </div>
  </div>
  <%result = Post.global_search("#{params[:query]}") %>
  <% if result.empty?%>
    <div class="card px-5 py-3 my-3">
      <%= render "posts/new", group: @group, post: @post %>
    </div>

    <h2>Recent posts</h2>
    <% @posts.each do |post| %>
      <%= render 'posts/post_card', post: post %>
    <% end %>
  <%else %>
    <%result.each do |post| %>
      <%= render 'posts/post_card', post: post %>
    <% end %>
  <%end %>

</div>
