<div class="container">
  <div class="rounded bg-primary p-2 mt-3">
    <div class = "mx-3 my-2">
      <h2><%= @group.name %></h2>
      <p><%= @group.description %></p>

      <p class="posts-count"><%= @group.posts.count> 0 ? pluralize(@group.posts.count, 'Posts') : "0 Posts" %><span class="badge badge-pill white"><i class="fas fa-comments fa-2x" aria-hidden="true"></i></span></p>

      <%= simple_form_for :search, url: group_path(@group.id), method: :get do |f| %>
        <div class="search-form-control form-group">
          <%= f.input :query, class: "form-control string required", label: "Search in the group" %>
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>Search
          </button>
        </div>
          <%= link_to "Clear search", group_path(@group.id), style: "color: white" %>
      <% end %>
    </div>
  </div>


  <div class="card px-5 py-3 my-3">
    <%= render "posts/new", group: @group, post: @post %>
  </div>
  <center><h3>Recent posts</h3></center>
  <% @posts.each do |post| %>
    <%= render 'posts/post_card', post: post %>
  <% end %>

</div>







