    <% def avatar(arg)%>
      <%if arg.user.photo.attached?%>
        <span class="mb-2"><%= cl_image_tag arg.user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></span>
      <%else %>
        <%= image_tag "avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <%end %>

    <%end %>
    <div class="card p-3 mb-3">
      <div class="post-author d-flex justify-content-between align-items-center">
        <div>
          <%= avatar(post) %>
          <strong ><%= post.user.first_name%></strong>
        </div>
         <h6 ><%=link_to "#{post.group.name}", group_path(post.group_id)%></h6>

        <div>
          <div>
            <%= link_to "https://twitter.com/intent/tweet?text=#{post.content}&url=/groups/#{post.group_id}/posts/#{post.id}", target: "_blank" do %>
          <i class="fab fa-twitter"></i>
        <% end %>
            <% if current_user.bookmarks.where(post_id: post.id).empty? %>
              <%= link_to "", post_bookmarks_path(post.id), method: :post, class: "far fa-bookmark"%>
            <% else %>
              <%= link_to "", "#", class: "fas fa-bookmark"%>
            <%end %>
            <% if current_user && current_user == post.user %>
              <%= link_to "", post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt"%>
            <% end %>
          </div>
        </div>

      </div>
      <hr>
      <div class="post-body">
        <p id="post-<%= post.id %>" class="card-text"><%= post.content_with_links %></p>
      </div>
      <hr>
      <div>
        <%= link_to "", post_upvotes_path(post.id), method: :post, class: "fas fa-rocket"%>
        <p id="upvote-<%=post.id%>"><%= post.upvotes.count %></p>
      </div>
      <hr>
      <div class="post-comments">
        <span class="small text-muted">Comments</span>
        <!-- comments here -->
        <% post.comments.each do |comment| %>
        <div class="bg-light mb-2 p-3 rounded">
          <div class="post-author d-flex justify-content-between align-items-center">
            <div class = "d-flex align-items-center justify-content-between">
              <%= avatar(comment) %>
              <span class="ml-2"><strong><%= comment.user.first_name %></strong></span>
            </div>
            <div>
              <% if current_user && current_user == comment.user %>
                <%= link_to "", comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "far fa-trash-alt"%>
              <% end %>
            </div>
          </div>
          <hr>
          <div class="comment-body">
            <p id="comment-<%= comment.id %>"><%= comment.content_with_links %></p>
          </div>
        </div>
        <% end %>
        <%= render "comments/new", post: post%>
      </div>
    </div>
